NEXT_PUBLIC_SUPABASE_URL=https://pmafdbeyfoeyzraxkrpw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBtYWZkYmV5Zm9leXpyYXhrcnB3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc0NDcxNDksImV4cCI6MjA4MzAyMzE0OX0.gPfmanpv5LPiJYwPkEw8zxgDpIvWSelvuzDaSBfxdkQ
TELEGRAM_BOT_TOKEN=7989105129:AAEbTd6n6mYREDjgGA0yb4Frjcx5HRjM6Wk
TELEGRAM_BOT_USERNAME=myagencyosbot
TELEGRAM_CHAT_ID=1487709348
TELEGRAM_FILE_STORAGE=true
